body {
  background-color: #070710;
  color: white;
  width: 100%;
  max-width: 120rem;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: "poppins";
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "big";
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "regular";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "semibold";
  src: url(../fonts/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "para";
  src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: "num";
  src: url(../fonts/Graduate/Graduate-Regular.ttf);
}

/*CSS NAV*/

nav {
  padding: 1.25rem;
}

#logomn img {
  width: 110px;
  height: 110px;
  overflow: hidden;
}

.barnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.barnav p {
  font-size: 1.5em;
}

.menubar {
  text-align: center;
}

.social a {
  align-items: center;
  text-align: center;
  font-size: 2.5em;
  color: white;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  font-size: 1.5em;
  font-family: "para";
  padding: 0 3rem 0 3rem;
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: rgba(182, 181, 181, 0.247);
}

li:hover a {
  color: white;
  transition: 0.3s ease-in-out;
}

.number {
  font-family: "num";
  color: white;
}

/* BURGERMENU */ 



/*CS CONTAIN MID*/

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  float: none;
  width: 100%;
  height: 750px;
  padding: 1.25rem;
}

.reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

/*
.topbis {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.botbis{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bis{
    max-width: 100%;
    z-index: -1;
    position: absolute;
    font-size: 400px;
    text-align: center;
    top: -270px;
    right: 0;
    left: 185px;
    color: rgba(255, 255, 255, 0.012);
    margin-top: 0;
    margin-bottom: 0;
    transform: scale(-1);
}

.botbis h3{
    max-width: 100%;
    z-index: -1;
    position: absolute;
    font-size: 290px;
    text-align: center;
    top: -695px;
    left: 110px;
    color: rgba(255, 255, 255, 0.007);
    margin-top: 0;
    margin-bottom: 0;
}*/

.me {
  width: 470px;
  height: 520px;
}

.me img {
  width: 470px;
  height: auto;
  text-align: center;
  overflow: hidden;
}

.textme {
  width: 850px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigname {
  width: 100%;
  height: auto;
}

.bigname p {
  font-size: 23em;
  max-width: 100%;
  height: 410px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "big";
  letter-spacing: -8px;
  overflow: hidden;
}

.bdb {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.bod {
  width: 245px;
  height: 35px;
  background-color: blueviolet;
}

.bigname span {
  font-size: 3.1em;
  font-family: "regular";
  position: relative;
  top: 100px;
  height: auto;
  margin-left: 2%;
}

.about {
  font-family: "para";
  text-align: center;
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.459);
  margin-top: 0;
  margin-bottom: 0;
}

/*INTERLLUDE*/

.interlude {
  width: 100%;
  height: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}
.interlude img {
  width: 50px;
  animation: movedown 2s infinite;
}

@keyframes movedown {
  0%,
  20%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(-20px);
  }
}

/*MIDCONTAIN*/

.mid {
  width: 100%;
  height: auto;
}

.midcontain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}

.midcontain h2 {
  font-size: 4em;
}

.midcontain p {
  font-size: 1.5em;
  font-family: "para";
}

.all a {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  text-decoration: none;
}

/*PROGETCT ONE*/
.proto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 800px;
  margin-bottom: 9rem;
}

.ecom {
  max-width: 42.5rem;
  height: auto;
  position: relative;
}

.un {
  position: absolute;
  font-size: 7.5em;
  left: -15%;
  z-index: 1;
  font-family: "num";
}

.proto img {
  max-width: 100%;
  height: auto;
}

.grey {
  min-width: 100%;
  height: auto;
  position: absolute;
  top: 280px;
  left: 5%;
  backdrop-filter: blur(10px);
  background-color: rgba(128, 128, 128, 0.089);
  overflow: hidden;
}

h5 {
  padding: 1.5rem;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "semibold";
  line-height: 1.3em;
}

.textp p {
  padding: 0.7rem;
  font-size: 1.3em;
  margin-top: 0;
  font-family: "para";
}

.regp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.re {
  margin-left: 1.5rem;
}

.re p {
  color: rgba(255, 255, 255, 0.236);
  font-size: 1.5em;
}

.symb::before {
  content: "▹";
  color: white;
  font-size: 30px;
}

.white button {
  border: none;
  width: 150px;
  height: 92px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0 5px 200px rgba(248, 248, 248, 0.853);
}

.white i {
  color: rgb(0, 0, 0);
}

/*project TWO*/

.wowfun {
  width: 42.5rem;
  height: auto;
  position: relative;
}

.orange {
  min-width: 100%;
  height: auto;
  position: absolute;
  top: 280px;
  left: 5%;
  backdrop-filter: blur(10px);
  background-color: rgba(128, 128, 128, 0.089);
  overflow: hidden;
}

.deux {
  position: absolute;
  font-size: 110px;
  z-index: 1;
  font-family: "num";
  left: -15%;
}

.orange_button button {
  border: none;
  width: 150px;
  height: 92px;
  background-color: rgb(224, 165, 63);
  cursor: pointer;
  box-shadow: 0 5px 200px rgb(241, 196, 90);
}

.orange_button i {
  color: white;
}

/*PROJET THREE*/

.prot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
}

.trois {
  position: absolute;
  font-size: 110px;
  font-family: "num";
  right: 90%;
  z-index: 1;
}

.last {
  width: 42.5rem;
  height: auto;
  position: relative;
}

.last img {
  max-width: 100%;
  height: auto;
}

.couleur {
  min-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  backdrop-filter: blur(10px);
  background-color: rgba(128, 128, 128, 0.089);
  overflow: hidden;
}

.textc p {
  padding: 0.5rem;
  font-size: 1.3em;
  margin-top: 0;
  font-family: "para";
}

.couleur_button button {
  border: none;
  width: 150px;
  height: 92px;
  background-color: rgb(58, 219, 139);
  cursor: pointer;
  box-shadow: 0 5px 255px rgba(102, 237, 72, 0.879);
}

.couleur_button i {
  color: rgb(255, 255, 255);
}

/*FOOTER*/

#foot {
  margin-top: 6.25rem;
  height: 750px;
}

.containfoot {
  display: flex;
  background-color: #0a0a130c;
  width: 100%;
  height: 750px;
  overflow: hidden;
}

.f {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.ff {
  width: 30vw;
  height: auto;
  background-color: #0d0d1a80;
}

.logof {
  width: auto;
  height: 300px;
}

.logof img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 5px 200px rgba(110, 55, 228, 0.818);
  overflow: hidden;
}

.textfoot {
  margin-top: 6.25rem;
  width: 50%;
  height: auto;
}

.textfoot h4 {
  font-family: "semibold";
  font-size: 4.8em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.textfoot p {
  padding: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25em;
  font-family: "para";
  text-align: center;
}

.foot_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 15rem;
  gap: 2rem;
}

.gitt {
  text-align: center;
}

.gitt a {
  font-size: 50px;
  color: white;
}

.foo {
  text-align: center;
  height: 300px;
}

.foo a {
  text-decoration: none;
  list-style-type: none;
  color: rgba(255, 255, 255, 0.346);
}

.foo a:hover {
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.foo p {
  padding: 10px;
  font-size: 20px;
  font-family: "para";
}

#butcontact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  font-size: 27px;
  font-family: "para";
  color: white;
  padding: 13px 20px 13px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.contact:after {
  content: "";
  background-color: #8e4cff;
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  transition: 0.2s;
}

.contact:hover:after {
  top: 0px;
  left: 0px;
}


@media (max-width: 1569px) {

 

    .burger-menu {
    display: none !important;
  }

  .burger-button {
    display: none;
  }

  body {
    text-size-adjust: auto !important;
  }


  .midcontain {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .midcontain h2 {
    font-size: 50px;
  }

  .midcontain p {
    font-size: 20px;
    font-family: "para";
  }

  .all a {
    font-size: 20px;
  }

  /*PROGETCT ONE*/
  .proto {
    height: 70vh;
  }
  .ecom {
    width: 450px;
  }
  .un,
  .deux {
    font-size: 4em !important;
    left: 1%;
  }

  .proto img {
    max-width: 100%;
    height: auto;
  }
  .grey {
    top: 190px;
    left: 5%;
  }

  h5 {
    font-size: 2em !important;
  }

  .textp p {
    font-size: 15px;
    margin-top: 0;
    font-family: "para";
  }

  .re p {
    font-size: 10px;
  }
  .symb::before {
    font-size: 10px;
  }

  /*project TWO*/

  .wowfun {
    width: 450px;
  }

  .orange {
    top: 190px;
    left: 5%;
  }

  .deux {
    left: -15%;
  }

  /*PROJET THREE*/

  .prot {
    display: flex;
    justify-content: center;
  }

  .trois {
    font-size: 4em;
  }

  .last {
    width: 450px;
  }

  .couleur {
    top: 0;
    left: 50%;
  }

  .textc p {
    font-size: 15px;
  }
}

@media (max-width: 1279px) {
  .burger-menu {
    display: none !important;
  }

  .burger-button {
    display: none;
  }

  .bigname p {
    font-size: 19rem !important;
    height: 350px;
  }

  .bigname span {
    font-size: 27px;
    top: 75px;
  }

  .textme {
    width: 679px;
  }

  .me {
    width: auto !important;
    height: 260px !important;
  }

  .me img {
    width: 300px;
    height: auto;
  }

  .bdb {
    margin-top: 0 !important;
    height: 21px;
  }

  .about {
    font-size: 15px;
    margin-top: 0px;
    text-align: center;
  }

  .bod {
    width: 181px;
    height: 35px;
  }
}
@media (min-width: 1160px) {
  .burger-menu {
    display: none !important;
  }

  .burger-button {
    display: none;
  }
}
@media (max-width: 1049px) {
  
  .burger-menu {
    display: none !important;
  }

  .burger-button {
    display: none;
  }

  .menubar li {
    font-size: 1.2em;
    padding: 0 20px 0 20px;
  }

  nav ul {
    padding: 0px;
  }

  #logomn img {
    width: 70px;
    height: auto;
  }

  .social a {
    font-size: 25px;
    color: white;
  }

  .contain {
    margin-top: 0;
    height: 350px;
  }

  .bigname p {
    font-size: 14rem !important;
    height: 260px;
  }

  .bigname span {
    font-size: 27px;
    top: 60px;
  }

  .textme {
    width: 498px;
  }

  .me {
    width: auto !important;
    height: 178px !important;
  }

  .me img {
    width: 215px;
    height: auto;
  }

  .bdb {
    margin-top: 0 !important;
    height: 21px;
  }

  .about {
    font-size: 12px;
    margin-top: 0px;
    text-align: center;
  }

  .bod {
    width: 137px;
    height: 25px;
  }

  .interlude {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .midcontain {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .midcontain h2 {
    font-size: 40px;
  }

  .midcontain p {
    font-size: 15px;
    font-family: "para";
  }

  .all a {
    font-size: 15px;
  }

  .proto {
    height: 380px;
  }
  .ecom {
    width: 300px;
  }
  .un,
  .deux {
    font-size: 3em !important;
    left: 1%;
  }

  .proto img {
    max-width: 100%;
    height: auto;
  }
  .grey {
    top: 120px;
    left: 5%;
  }

  h5 {
    font-size: 1.7em !important;
  }

  .textp p {
    font-size: 13px;
    margin-top: 0;
    font-family: "para";
  }

  .re p {
    font-size: 10px;
  }
  .symb::before {
    font-size: 10px;
  }

  .white button {
    width: 100px;
    height: 50px;
  }

  /*project TWO*/

  .wowfun {
    width: 300px;
  }

  .orange {
    top: 150px;
    left: 5%;
  }

  .deux {
    left: -15%;
  }

  .orange button {
    width: 100px;
    height: 50px;
  }

  /*PROJET THREE*/

  .prot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  .trois {
    font-size: 4em;
  }

  .last {
    width: 300px;
  }

  .couleur {
    top: 0;
    left: 50%;
  }

  .textc p {
    font-size: 13px;
    margin-bottom: 0;
  }

  .couleur button {
    width: 100px;
    height: 50px;
  }

  .textfoot {
    margin-top: 100px;
    width: 820px;
    height: auto;
  }

  .textfoot h4 {
    font-family: "semibold";
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 90px;
    text-align: center;
  }

  .textfoot p {
    padding: 35px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-family: "para";
    text-align: center;
  }

  .logof img {
    width: 100px;
  }

  .gitt a {
    font-size: 30px;
    color: white;
  }

  .foo p {
    font-size: 17px;
  }
}

@media (max-width: 768px) {

  .burger-menu {
    display: none !important;
  }
  .burger-button {
    display: none;
  }

  .menubar li {
    font-size: 1rem;
    padding: 0 10px 0 10px;
  }

  nav ul {
    padding: 0px;
  }

  #logomn img {
    width: 50px;
    height: auto;
  }

  .social a {
    text-align: center;
    font-size: 19px;
    color: white;
  }

  .contain {
    margin-top: 0px;
    padding: 0;
    height: 300px;
  }

  .bigname p {
    font-size: 9rem !important;
    height: 170px;
  }

  .bigname span {
    font-size: 17px;
    top: 30px;
  }

  .textme {
    width: 315px;
  }

  .me {
    width: auto !important;
    height: 195px !important;
  }

  .me img {
    width: 187px;
    height: auto;
  }

  .bdb {
    margin-top: 0 !important;
    height: 21px;
  }

  .about {
    font-size: 10px;
    margin-top: 0px;
  }

  .bod {
    width: 88px;
    height: 20px;
  }

  .interlude {
    margin-top: 0;
    margin-bottom: 0;
  }

  /*INTERLUDE*/

  .interlude img {
    width: 37px;
    animation: movedown 2s infinite;
  }

  /*PROGETCT ONE*/
  .proto {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
  }
  .ecom {
    width: 250px;
  }
  .un,
  .deux {
    font-size: 2em !important;
    left: 1%;
  }

  .proto img {
    max-width: 100%;
    height: auto;
  }
  .grey {
    top: 105px;
    left: 5%;
  }

  h5 {
    font-size: 1.5em !important;
    padding: 0.8rem;
  }

  .textp p {
    padding: 0.9rem !important;
    font-size: 0.6em;
    margin-top: 0;
    font-family: "para";
  }

  .re {
    margin-left: 0.8rem;
  }

  .re p {
    font-size: 10px;
  }
  .symb::before {
    font-size: 10px;
  }

  /*project TWO*/

  .wowfun {
    width: 250px;
  }

  .orange {
    top: 105px;
    left: 5%;
  }

  .deux {
    left: -15%;
  }

  /*PROJET THREE*/

  .trois {
    font-size: 2em;
  }

  .last {
    width: 270px;
  }

  .couleur {
    top: 0;
    left: 50%;
  }

  .textc p {
    font-size: 13px;
  }

  .textfoot {
    margin-top: 100px;
    width: 820px;
    height: auto;
  }

  .textfoot h4 {
    font-size: 50px;
    line-height: 90px;
  }

  .textfoot p {
    font-size: 12px;
  }

  .logof {
    height: 240px;
  }

  .logof img {
    width: 70px;
  }

  .contact {
    padding: 13px 50px 13px;
    font-size: 15px;
  }

  .foo p {
    font-size: 15px;
    font-family: "para";
  }
}

@media (max-width: 576px) {


  #home {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 0;
    background-color: #0707103d;
    backdrop-filter: blur(2px);
  }

  .menubar {
    display: none;
  }

  

  .burger-button {
    display: block !important;
    text-align: center;
    width: auto;
    height: auto;
    cursor: pointer;
  }

    .burger-menu {
      z-index: 2;
    display: none;
    position: absolute;
    top: 35px;
    left: 70%;
   background-color: #07071026;
   border: rgba(129, 0, 221, 0.223) 1px solid;
   backdrop-filter: blur(10px) !important;
   -webkit-backdrop-filter: blur(10px) !important;
    border-radius: 5px;
    font-size: 0.5em;
    display: flex;
    width: 90px;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .openmenu {
    display: block !important;
  }

  .burger-menu li {
  padding: 5px 5px 5px 5px ;
}

  
  

  .fas {
    font-size: 12px;
  }
  #logomn{
    height: 35px;
  }

  #logomn img {
    width: 35px;
    height: auto;
  }

  .social a {
    display: none;
  }

  .contain {
    margin-top: 0px;
    padding: 0;
    height: 300px;
  }

  .bigname {
    width: 100%;
    height: auto;
  }

  .bigname p {
    width: 12.8rem;
    font-size: 6em !important;
    height: 110px !important;
  }

  .bigname span {
    font-size: 0.9em;
    top: 30px;
  }

  .textme {
    width: 210px;
  }

  .me {
    width: auto;
    height: 53px !important;
  }

  .me img {
    width: 80px;
    height: auto;
    text-align: center;
  }

  .bdb {
    margin-top: 0 !important;
    height: 20px;
  }

  .about {
    width: 80px;
    font-size: 7px;
    margin-top: 0px;
  }

  .bod {
    width: 64px;
    height: 15px;
  }

  .interlude {
    margin-top: 0;
    margin-bottom: 0;
  }

  /*INTERLUDE*/

  .interlude img {
    width: 20px;
    animation: movedown 2s infinite;
  }

  .midcontain {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .midcontain h2 {
    font-size: 10px;
  }

  .midcontain p {
    font-size: 7px;
    font-family: "para";
  }

  .all a {
    font-size: 7px;
  }

  /*PROGETCT ONE*/
  .proto {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 415px !important;
    margin-bottom: 0;
  }
  .ecom {
    width: 50%;
    height: auto;
  }
  .un {
    font-size: 2em !important;
    left: -10%;
  }

  .proto img {
    max-width: 100%;
    height: auto;
  }
  .grey {
    top: 45px;
    left: 5%;
  }

  h5 {
    font-size: 1em !important;
    padding: 0.5rem;
    line-height: 1em;
  }

  .textp p {
    padding: 0.5rem !important;
    font-size: 0.2em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "para";
  }

  .re {
    margin-left: 0.2rem;
  }
  .re p {
    text-align: center;
    font-size: 5px;
  }
  .symb::before {
    font-size: 1.5em;
  }

  .white button {
    width: 50px;
    height: 26px;
  }

  .fa-solid {
    font-size: 10px !important;
  }

  /*project TWO*/

  .wowfun {
    width: 50%;
    height: auto;
  }

  .orange {
    top: 45px;
    left: 5%;
  }

  .deux {
    left: -10%;
  }

  .orange button {
    width: 50px;
    height: 26px;
  }

  /*PROJET THREE*/

  .prot {
    height: 200px;
  }

  .trois {
    font-size: 2em;
    left: -10% !important;
  }

  .last {
    width: 50%;
  }

  .couleur {
    top: 45px;
    left: 5%;
  }

  .couleur button {
    width: 50px;
    height: 26px;
  }

  .textc p {
    font-size: 0.2em;
    padding: 0.5rem !important;
  }

  /*FOOTER */

  #foot {
    margin-top: 6.25rem;
    height: 500px;
  }
  .containfoot {
    margin-top: 0;
    height: 500px;
  }

  .f {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .textfoot {
    width: 80%;
    height: auto;
    padding: 0.5rem;
    margin-top: 0;
  }

  .textfoot h4 {
    font-size: 2.5em;
    line-height: 1em;
    padding: 0.5rem;
  }

  .textfoot p {
    font-size: 0.7em;
    padding: 1rem;
  }

  .ff {
    display: none;
  }

  .logof {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
  }

  .logof img {
    width: 90px;
  }

  .contact {
    padding: 13px 50px 13px;
    font-size: 15px;
  }
}
